<h1>Akana Okamoto</h1>
<%= image_tag 'grape.jpg', style: 'width: 20%;' %>
<h2>p tag</h2>
<p><b>Age</b> <%= ((Time.current - Time.parse('1991/12/26')) / (60*60*24*365)).floor %></p>
<p><b>Hobby</b> <%= ['hyono', 'orgasm', 'daiki'].sample %></p>


<h2>ul list</h2>
<ul>
  <li>Age 27</li>
  <li>Hobby Hypno</li>
</ul>

<h2>ol list</h2>
<ol>
  <li>Age 27</li>
  <li>Hobby Hypno</li>
</ol>

<hr>

<h2>table</h2>
<table>
  <thead>
    <tr>
      <td>Age</td>
      <td>Hobby</td>
    </tr>
  </thead>
  <tbody>  
    <tr>
      <td>27</td>     
      <td>Hypno</td>
    </tr>
  </tbody>
</table>
