<h1>Akana Okamoto</h1>
<%= image_tag 'grape.jpg', style: 'width: 20%;' %>
<h2>p tag</h2>
<p><b>Age</b> <%= ((Time.current - Time.parse('1991/12/26')) / (60*60*24*365)).floor %></p>
<p><b>Hobby</b> <%= ['music', 'movie', 'horticulture'].sample %></p>


<h2>ul list</h2>
<ul>
  <li>Age 27</li>
  <li>Hobby music</li>
</ul>

<h2>ol list</h2>
<ol>
  <li>Age 27</li>
  <li>Hobby music</li>
</ol>

<hr>

<h2>table</h2>
<table>
  <thead>
    <tr>
      <td>JR</td>

      <td>地下鉄</td>
    </tr>
  </thead>
  <tbody>  
    <tr>
      <td>新宿駅</td>

      <td>新宿三丁目駅</td>
    </tr>
  </tbody>
</table>
